/* HEADER */
#create-point-page header a::before {
    background: url("../assets/arrow-left.svg") no-repeat;
}

.content-form {
    gap: 20px;
}

.container-form {
    background-color: #FFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    padding: 25px 20px;

    border-radius: 5px;
}

.container-form h1 {
    font-size: 1.2rem;
}

.container-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-form legend {
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 15px;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-form form fieldset + fieldset legend::after {
    content: 'Selecione um ou mais itens abaixo';

    font-size: .8rem;
    font-weight: 400;
    color: #000;
}

.container-form fieldset, 
.container-form .field-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-form .field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container-form label {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 400;
}

.container-form input, 
.container-form select {
    height: 45px;

    background-color: var(--bg-color);
    
    border-radius: 5px;
    border: 0;
    outline: none;

    padding: 5px 10px;

    font-size: 0.8rem;
}

.container-form input:focus,
.container-form select:focus {
    border: 2px solid var(--primary-color);
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.item {
    background-color: var(--bg-color);

    height: 150px;

    padding: 20px;
    text-align: center;
}

.item h4 {
    margin-top: 15px;
}

#btnCreatePoint {
    margin-top: 20px;
    width: 100%;
    height: 70px;

    border: 0;
    border-radius: 5px;

    background-color: var(--primary-color);
    color: #FFF;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 0.4s;
}

#btnCreatePoint:hover {
    background-color: var(--dark-primary-color);
}